python==3.12.*
numpy
scipy
pandas
matplotlib
xlrd
numba
scikit-learn
statsmodels
openpyxl
ipykernel
seaborn
xgboost
tqdm
hampel
DenseWeight
hyperopt
gekko
git+https://github.com/johnsonandjohnson/open_nipals